CustomerFullInfo.module/Schemas/CustomerFullInfoRequestResource.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tns.tibco.com/bw/json/1501737021599" elementFormDefault="qualified" targetNamespace="http://tns.tibco.com/bw/json/1501737021599">
  <complexType name="CustomerFullInfoRequestElementType">
    <sequence>
      <element maxOccurs="1" minOccurs="0" name="msisdn" type="string"/>
    </sequence>
  </complexType>
  <element name="CustomerFullInfoRequestElement" type="tns:CustomerFullInfoRequestElementType"/>
</schema>
