CustomerDetails.module/Schemas/CustomerDetailsResponseResource.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tns.tibco.com/bw/json/1501510448536" elementFormDefault="qualified" targetNamespace="http://tns.tibco.com/bw/json/1501510448536">
  <complexType name="CustomerDetailsResponseElementType">
    <sequence>
      <element maxOccurs="1" minOccurs="0" name="msisdn" type="string"/>
      <element maxOccurs="1" minOccurs="0" name="name" type="string"/>
      <element maxOccurs="1" minOccurs="0" name="city" type="string"/>
    </sequence>
  </complexType>
  <element name="CustomerDetailsResponseElement" type="tns:CustomerDetailsResponseElementType"/>
</schema>
