CustomerDetails.module/Schemas/CustomerDetailsRequestResource.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tns.tibco.com/bw/json/1501510345387" elementFormDefault="qualified" targetNamespace="http://tns.tibco.com/bw/json/1501510345387">
  <complexType name="CustomerDetailsRequestElementType">
    <sequence>
      <element maxOccurs="1" minOccurs="0" name="msisdn" type="string"/>
    </sequence>
  </complexType>
  <element name="CustomerDetailsRequestElement" type="tns:CustomerDetailsRequestElementType"/>
</schema>
