CatalogProductDetails.module/Schemas/ProductDetailsRequestResource.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tns.tibco.com/bw/json/1501495799167" elementFormDefault="qualified" targetNamespace="http://tns.tibco.com/bw/json/1501495799167">
  <complexType name="ProductDetailsRequestElementType">
    <sequence>
      <element maxOccurs="1" minOccurs="0" name="product_id" type="string"/>
    </sequence>
  </complexType>
  <element name="ProductDetailsRequestElement" type="tns:ProductDetailsRequestElementType"/>
</schema>
