PCRFBalance.module/Schemas/BalanceRequestResource.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tns.tibco.com/bw/json/1501485795981" elementFormDefault="qualified" targetNamespace="http://tns.tibco.com/bw/json/1501485795981">
  <complexType name="BalanceRequestElementType">
    <sequence>
      <element maxOccurs="1" minOccurs="0" name="msisdn" type="string"/>
      <element maxOccurs="1" minOccurs="0" name="bucket_id" type="string"/>
    </sequence>
  </complexType>
  <element name="BalanceRequestElement" type="tns:BalanceRequestElementType"/>
</schema>
