OCSBalance.module/Schemas/OCSBalanceRequestResource.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tns.tibco.com/bw/json/1501490968035" elementFormDefault="qualified" targetNamespace="http://tns.tibco.com/bw/json/1501490968035">
  <complexType name="OCSBalanceRequestElementType">
    <sequence>
      <element maxOccurs="1" minOccurs="0" name="msisdn" type="string"/>
      <element maxOccurs="1" minOccurs="0" name="type" type="string"/>
    </sequence>
  </complexType>
  <element name="OCSBalanceRequestElement" type="tns:OCSBalanceRequestElementType"/>
</schema>
